/* Кнопки */
.btn-orange {
    background-color: var(--color-orange);
    border: none;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 4px 15px rgba(242, 121, 71, 0.4);
    transition: 0.3s;
    border-radius: 4px;
}
.btn-orange:hover {
    background-color: #d96231;
    transform: translateY(-2px);
    color: #fff;
}
.btn-outline {
    border: 2px solid var(--color-orange);
    color: #000;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: 600;
    background: transparent;
}
.btn-outline:hover {
    background: var(--color-orange);
    color: #fff;
}
.btn-light-transparent {
    background: rgba(255,255,255,0.8);
    border: none;
    font-weight: bold;
    color: #333;
}

/* Аккордеон */
.custom-accordion .card { border: 1px solid var(--border-beige); margin-bottom: 15px; border-radius: 4px !important; overflow: hidden; box-shadow: none; }
.custom-accordion .card-header { background: #fff; padding: 0; border: none; }
.custom-accordion .btn-link { color: var(--color-orange); font-weight: bold; text-decoration: none; padding: 20px; display: block; position: relative; }
.custom-accordion .btn-link::after { content: '▼'; position: absolute; right: 20px; top: 20px; font-size: 0.8rem; transition: transform 0.3s; color: #ccc; }
.custom-accordion .btn-link[aria-expanded="true"]::after { transform: rotate(180deg); }