body {
    font-family: var(--font-main);
    color: var(--color-text);
    padding-top: 76px;
    background-color: #fdfcf8;
}

h1, h2, h3, .section-title {
    font-family: var(--font-decor);
    letter-spacing: 1px;
    line-height: 1.1;
}

.text-orange {
    color: var(--color-orange) !important;
}

.section-padding {
    padding: 80px 0;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}


.header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.navbar-nav .nav-link {
    color: #333;
    font-size: 0.9rem;
    transition: 0.2s;
}
.navbar-nav .nav-link:hover {
    color: var(--color-orange);
}